
{### CONFIG DATA ###}
{% set newsyslog = {
    'lookup': {
        'config_file': '/etc/newsyslog.conf',
        'config_dir': '/etc/newsyslog.conf.d'
    }
} %}
{% do salt['pillar.get']('sysutils:newsyslog', newsyslog, merge=True) %}


{### LOOKUP DATA ###}
{% set lookup = salt['grains.filter_by']({
    'FreeBSD': {
    },
}, merge=salt['pillar.get']('sysutils:newsyslog:lookup')) %}
{% do newsyslog.lookup.update(lookup) %}

